// colours:

$magenta: rgb(205, 10, 94);
$blue: rgb(128, 148, 221);
$yellow: rgb(250, 229, 162);
$pink: rgb(235, 163, 177);
$black: #363636;
$white: #f3f3f3;
$beige: #f0e6d8;

// ---------------------------------

// animations:

@keyframes block1 {
    from {left:-40%;opacity:0%} to {left:10%;opacity:100%;}
}

@keyframes block2 {
    from {left:0%;opacity:0%} to {left:50%;opacity:100%}
}

@keyframes block3 {
    from {left:40%;opacity:0%} to {left:90%;opacity:100%}
}

@keyframes fade {
    from {opacity:0%} to{opacity:100%}
}

@keyframes slide {
    from {height:0%} to {height:fit-content}
}

@keyframes slide-up {
    from {
        opacity:0%;
        transform: translate(0,50px);
    }
    to {
        opacity:100%;
        transform: translate(0px);
    }
}

@keyframes left-next {
    0% {
        transform:none;
    }
    75% {
        transform: rotateZ(28deg);
        transform-origin: 237.5% 375.75%;
    }
    100% {
        transform: rotateZ(28deg);
        transform-origin: 237.5% 375.75%;
    }         
}

@keyframes middle-next {
    0% {
        transform:none;
    }
    75% {
        transform: rotateZ(32deg);
        transform-origin: 50% 380%;
    }     
    100% {
        transform: rotateZ(32deg);
        transform-origin: 50% 380%;
    }    
}

@keyframes right-next {
    0% {
        transform:none;
    }
    75% {
        transform: rotateZ(42.5deg);
        transform-origin: -8.5% -75%;
        width:300px;
        height:300px;
        opacity:100%;
    } 
    100% {
        transform: rotateZ(42.5deg);
        transform-origin: -8.5% -75%;
        width:300px;
        height:300px;
        opacity:100%;
    }         
}

@keyframes front-next {
    0% {
        transform: none;
        opacity:100%;
    }
    75% {
        transform: rotateZ(30deg);
        transform-origin: 152% -277%;
        width:200px;
        height:200px;
        opacity:50%;
    }
    100% {
        transform: rotateZ(30deg);
        transform-origin: 152% -277%;
        width:200px;
        height:200px;
        opacity:50%;
    }
}

@keyframes hide {
    from {opacity:100%} to {opacity:0%}
}

.left-next {
    animation: left-next 1s linear;
}

.middle-next {
    animation: middle-next 1s linear;
}

.right-next {
    animation: right-next 1s linear;
}

.front-next {
    animation: front-next 1s linear;
}

.fade {
    animation: fade 1s;
}

.slide-up {
    animation: slide-up 1s;
}

// ---------------------------------

// scrollbar & highlight:

body::-webkit-scrollbar {
    height: 0px;
    width: 8px;
}
  
body::-webkit-scrollbar-track {
    background: darken($magenta,20%);
}

body::-webkit-scrollbar-thumb {
    background-color: darken($magenta,10%);
    //border-radius: 20px;
    border: none;
}

::selection {
    background-color:darken($pink, 10%);
}

// ---------------------------------

// general:

body {
    font-family: 'Open Sans', sans-serif;
    color:white;
    background-color: $magenta;
    margin:0;
    overflow-x: hidden;
}

h1 {
    font: 72px 'Staatliches', cursive;
    font-weight: normal;
    letter-spacing: 10px;
}

h2 {
    font: 48px 'Staatliches', cursive;
    letter-spacing: 5px;
}

h3 {
    letter-spacing: 3px;
    font-size:16px;
    font-weight: normal;
    text-transform: uppercase;
}


.flex {
    display:flex;
    //flex-wrap: nowrap;
    align-items: center;
}

.menu {
    display:none;
}

header, footer {
    width:100%;
    height:fit-content;
    position: relative;
    animation: fade 2s;

    img {
        position:relative;
        margin:15px;
        vertical-align: middle;
    }

    nav {
        width:100%;
        text-align: right;

        li {
            margin:15px;
            display: inline-block;
            letter-spacing: 3px;
            font-size:14px;
            text-transform: uppercase;
        }

        #exit {
            width:20px;
            margin-top:30px;
        }
    }
}

.dropdown-content {
    visibility: hidden;

    max-height: 0;
    transition: max-height 0.5s ease-out;
    overflow: hidden;

    position: absolute;
    // background-color:lighten($pink, 10%);
    background: linear-gradient(45deg, $blue, $pink);
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 0 15px 0 0;
    z-index: 1;
    text-align: left;
    font-size: 14px;

    a, a:visited {
        color:$black;
    }

    a:hover {
        color: white;
    }

    li {
        display: block;
    }
} 
.dropdown:hover {
    .dropdown-content {
        visibility: visible;
        
        max-height: 500px;
        transition: max-height 0.5s ease-in;
    }
}

footer {
    nav ul {
        vertical-align: middle;
        margin-right:10px;

        li {
            margin:5px;
            vertical-align:middle;
            img {
                margin:0;
            }
        }
        a {
            width:30px;
            height:30px;
        }
    }
    hr {
        border: 1px solid darken($magenta, 10%);
        width:98%;
    }    
}

a, a:visited{
    text-decoration: none;
    color: white;
}

a:hover {
    color: $pink;
}

#current-page {
    color: $pink;
    font-weight: bold;
}

.btn {
    border: 2px solid white;
    border-radius: 20px;
    padding:8px;
    margin:8px;
    font-family: "Staatliches", cursive;
}

.btn:hover {
    border-color: $pink;
}

.btn-grad {background-image: linear-gradient(to right, $pink 0%, $blue  51%, $pink  100%)}
    .btn-grad {
       margin-top: 10px;
       padding: 15px 45px;
       position:relative;
       left:50%;
       transform: translate(-50%);
       text-align: center;
       text-transform: uppercase;
       font: 25px "Staatliches", cursive;
       transition: 0.5s;
       background-size: 200% auto;
       color: $magenta;            
       //box-shadow: 0 0 20px #eee;
       border-radius: 10px;
       display: block;
       border:none;
     }

     .btn-grad:hover {
       background-position: right center; /* change the direction of the change here */
       color: #fff;
       text-decoration: none;
       cursor: pointer;
     }

.banner {
    width:100%;
    height:400px;
    position:relative;
    overflow: hidden;

    .banner-img {
        background-image: url("images/header.jpg");
        opacity:30%;
        width: -webkit-fill-available;
        height: -webkit-fill-available;
    }

    h1 {
        position:absolute;
        width:100%;
        text-align: center;
        top:50%;
        transform: translate(0,-50%);
        z-index: 1;
        margin:0;
    }
}

.text {
    text-align: left;
    margin:100px;
}

.yellow {
    background-color: $yellow;
}

.blue {
    background-color: $blue;
}

.pink {
    background-color: $pink;
}

.hover:hover {
    box-shadow: 5px 10px $magenta;
    transform: translate(0,-15px);
    transition: box-shadow 0.5s, transform 0.5s;
}

// ---------------------------------

// home:

.home-div {
    margin: 200px 0;
    text-align: center;
}

#welcome {
    animation: fade 1s;
    width:100%;
    height:100%;
    margin: 50px 0;
    position:relative;
    overflow: hidden;
    background-image: url("images/header.jpg");

    .container {
        position:relative;
    }
    
    .block {
        width:75%;
        margin: 20px 0px;
        padding:20px;
        text-align: center;

        h1, h3 {
            margin:0;
            padding:0;
        }        
    }

    .yellow, .pink {
        h1, h3 {
            visibility:hidden;
        }
    }

    .yellow {
        background-color: rgba(250, 229, 162, 0.75);
        position:relative;
        left:10%;
        transform: translate(-10%);
        animation: block1 2s;
    }
    
    .blue {
        background-color: rgba(128, 148, 221, 0.75);
        position:relative;
        left:50%;
        transform: translate(-50%);
        animation: block2 2.5s;
    }
    
    .pink {
        background-color: rgba(235, 163, 177, 0.75);
        position:relative;
        left:90%;
        transform: translate(-90%);
        animation: block3 3s;
    }
}

#statistic.slide-up {
    opacity:100%;
}

#statistic {
    opacity:0%;
    position: relative;
    text-align: center;
    padding: 0 100px;
    background-color: transparent;
    box-shadow: none;
    color: white;
    width: -webkit-fill-available;
    height:fit-content;
    flex-wrap: wrap;
    justify-content: center;

    h1 {
        font-size: 15vw;
        margin:0;
        width:fit-content;
        height:fit-content;
    }
    
    div {
        height:fit-content;
        max-width:800px;
        margin:20px;
    }

    h3 {
        font-size: 24px;
    }

    .citation {
        font-size: 16px;
        text-align: right;
    }

}

#statistic-words {
    text-align: left;
    h3 {
        font-weight: bold;
    }
}

.stat.slide-up {
    opacity:100%;
}

.stat {
    opacity:0%;
    background-color: $white;
    color:$black;
    max-width: 250px;
    max-height: 250px;
    margin:20px;
    padding:50px;
    align-items: center;

}

#the-truth {
    padding:200px;
    background: linear-gradient(45deg, darken($blue, 10%), lighten($magenta, 10%));
    position: relative;
    h2 {
        text-align: center;
    }

    .stat {
        flex-wrap: wrap;
        justify-content: center;
    }

    #stat-container {
        text-align: center;
        justify-content: space-evenly;
        flex-wrap: wrap;

        h3 {
            font: 64px 'Staatliches', cursive;
            margin:5px;
        }

        .text {
            margin:0;
        }
    }
        
}

#why-care.slide-up {
    opacity:100%;
}

#why-care {
    padding:0px 200px;
    opacity:0%;
    

    div {
        padding:50px;
    }

    img {
        width:70%;
    }
}

#what-can-you-do {
    margin-bottom: 200px;
    opacity:0%;
}

#what-can-you-do.slide-up {
    opacity:100%;
}

#get-involved-now {
    opacity:0%;
}

#get-involved-now.fade {
    opacity:100%;
}

#get-involved-btn {
    padding:10px 20px;
    width:fit-content;
    color: $magenta;
    font-size: 72px;
    // border: 10px solid $magenta;
    border:none;
    border-radius:0px;
}

#get-involved-btn:hover {
    color:white;
    // border-color: white;
}

// ---------------------------------

// about us:

#mission {

    background-color: $pink;

    #mission-text {
        padding:100px;
        width:40%;
        text-align: right;
        position: relative;
        color: $black;
    }

    #mission-img {
        width:60%;
        padding:100px;
    }

    img {
        width:100%;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    }

}

#goals {
    text-align: center;
        
    
    
    #wheel {
        margin-top: 100px;
        max-height: 400px;

        .goal {
            background-color: $white;
            color: $black;
            border-radius: 100%;
            margin:50px;
        }

        .background, .foreground {
            display:flex;
            justify-content: center;
        }

        .background {
            .goal {
                width:200px;
                height:200px;
                opacity:50%;
            }
        }

        .foreground {
            position:relative;
            left:50%;
            top:70%;
            transform: translate(-50%, -70%);
            .goal {
                width:300px;
                height:300px;
            }
        }

        #middle {
            position:relative;
            top:-100px;
        }
    
    }
}

#mobile-goals {
    display:none;
}

#the-team {
    .exec {
        display:flex;
        flex-wrap:wrap;
        align-items: center;
        justify-content: flex-start;
        text-align: left;
        background-color: rgba(256,256,256,0.08);
        margin-bottom: 20px;
        font-size: 14px;

        div {
            padding:10px 50px;
            margin:20px;
        }

        #profile {
            padding:20px;
            margin-left:50px;
            text-align: center;
            width:150px;
            height:150px;
            vertical-align: middle;
            overflow:hidden;
            border-radius: 100%;

            img {
                position:relative;
                left:50%;
                top:50%;
                transform: translate(-50%,-50%);
                height:130%;
                width:auto;
            }
        }

        #exec-text {
            width:60%;
        }

        img {
            width:100%;
        }

        h3 {
            font-weight: bold;
            font-size: 24px;
        }

        h4 {
            color: $yellow;
        }
        
    }
}

// ---------------------------------

// our work:
#showcase {

    background-color: $pink;

    h1 {
        padding: 50px;
        font-size: 14vw;
        margin:0;
        width: fit-content;
        height:fit-content;
    }

    #showcase-text {
        align-self: flex-start;
        flex-wrap: wrap;
        padding:100px;
        width:95%;
        text-align: left;
        position: relative;  
        color: $black;
    }

    #showcase-img1 {
        
        width:45%;
        padding:0px;
        position: relative;
        margin-right:20px;
        
    }

    #showcase-img2 { 
        
        width:45%;
        padding:0px;
        position: relative;
        margin-left:20px;
        
    }

    #showcase-date {
        color: darken($pink, 5%);
        h1 {
            padding: 50px 100px;
        }
    }
    
    
    img {
        width:100%;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    }

}

// ---------------------------------

// get involved:

#donate-icons {
    background-color: rgba(160, 11, 75, 0.5);
    text-align: center;
    display:flex;
    justify-content: center;
    flex-wrap: wrap;

    img {
        width:250px;
        margin:20px;
    }

    .icon:hover {
        .description {
            transition: 0.25s opacity;
            visibility: visible;
            opacity:100%;
        }
    }

    .icon {
        display: flex;
        justify-content: center;
    }

    .description {
        visibility: hidden;
        opacity:0%;
        position:absolute;
        padding:50px;
        margin: 20px;

        border-radius: 100%;
        height:150px;
        width:150px;
        background-color: $black;

        h1 {
            font-size: 16px;
            letter-spacing: 1px;
        }

        p {
            font-size: 14px;
        }
        
    }
}


// ---------------------------------

// responsive:

@media screen and (max-width:1200px) {

    #goals {
        #wheel {
            .background .goal {
                width:175px;
                height:175px;
            }

            .foreground .goal {
                width:250px;
                height:250px;
            }
        }
    }

    @keyframes right-next {
        0% {
            transform:none;
        }
        75% {
            transform: rotateZ(42.5deg);
            transform-origin: -8.5% -75%;
            width:250px;
            height:250px;
            opacity:100%;
        } 
        100% {
            transform: rotateZ(42.5deg);
            transform-origin: -8.5% -75%;
            width:250px;
            height:250px;
            opacity:100%;
        }         
    }
}

@media screen and (max-width:1000px) {
    // ADD RESPONSIVE DESIGN FOR GOALS HERE
    #goals {
        display:none;
    }

    #mobile-goals {
        display:block;
        text-align: center;
        
        .hide {
            animation: hide 0.5s;
            // visibility: hidden;
            display:none;
        }

        #mobile-wheel {
            display:flex;
            align-items: center;
            justify-content: center;

            .goal {
                background-color: $white;
                color: $black;
                border-radius: 100%;
                margin:10px;
                width:250px;
                height:250px;
            }

            #prev-mobile, #next-mobile {
                font-size: 36px;
            }
        }
    }
}

.visible {
    display:block;
}

.hidden {
    display:none;
}

@media screen and (max-width:600px) {

    body {
        overflow-x:hidden;
    }

    header nav {
        display:none;
    }

    header {
        display:flex;
        justify-content: space-between;
    }

    .dropdown-content {
        min-width: 0px;
    }
    
    .menu {
        display:block;
    }

    footer nav ul {
        padding-inline-start: 0;
    }

    .home-div {
        margin: 50px 0;
        text-align: center;
    }

    #welcome {
        margin-top:0;
        
        .yellow, .pink{
            background-color: rgba(0,0,0,0);
        }
        .blue {
            background-color: rgba(0,0,0,0.25);
        }
    }
    
    #why-care, #what-can-you-do, #statistic, #mission {
        padding:50px;
    }

    #statistic {
        width: -webkit-fill-available;
        height:fit-content;
        flex-wrap: wrap;
        justify-content: center;

        #statistic-num h1 {
            font-size: 72px;
        }
    }

    #the-truth {
        padding:50px;
        h2 {
            margin:0px;
        }
    }

    #why-care div {
        width:-webkit-fill-available;
        padding:0;
    }

    #what-can-you-do {
        margin:0px;
    }

    #get-involved-now, #insta {
        height:200px;
        margin-bottom: 200px;

        #get-involved-btn {
            font-size: 24px;
            border-width: 5px;
        }
    }

    .text {
        margin:50px;
        h2 {
            font-size:40px;
        }
    }

    #mission {
        flex-wrap:wrap;
        
        #mission-text, #mission-img {
            padding:0;
            width:fit-content;
        }

    }

    #the-team {
        margin:20px;

        h2 {
            text-align: center;
        }
        
        #exec-text {
            padding:0;

            h3 {
                font-size: 20px;
            }
        }
    }

    #showcase {
        flex-wrap:wrap;
        padding:50px;
        
        #showcase-text, #showcase-img {
            padding:0;
        }

        #showcase-img1, #showcase-img2 {
            width:100%;
            margin:0;
        }
    }
    
}