// colours:

$magenta: rgb(205, 10, 94);
$blue: rgb(128, 148, 221);
$yellow: rgb(250, 229, 162);
$pink: rgb(235, 163, 177);
$black: #363636;
$white: #f3f3f3;
$beige: #f0e6d8;

// ---------------------------------

// animations:

@keyframes block1 {
    from {left:-40%;opacity:0%} to {left:10%;opacity:100%;}
}

@keyframes block2 {
    from {left:0%;opacity:0%} to {left:50%;opacity:100%}
}

@keyframes block3 {
    from {left:40%;opacity:0%} to {left:90%;opacity:100%}
}

@keyframes fade {
    from {opacity:0%} to{opacity:100%}
}

.fade {
    animation: fade 1s;
}

// ---------------------------------

// scrollbar & highlight:

body::-webkit-scrollbar {
    height: 0px;
    width: 8px;
}
  
body::-webkit-scrollbar-track {
    background: darken($magenta,20%);
}

body::-webkit-scrollbar-thumb {
    background-color: darken($magenta,10%);
    //border-radius: 20px;
    border: none;
}

::selection {
    background-color:darken($pink, 10%);
}

// ---------------------------------

// general:

body {
    font-family: 'Open Sans', sans-serif;
    color:white;
    background-color: $magenta;
    margin:0;
    overflow-x: hidden;
}

h1 {
    font: 72px 'Staatliches', cursive;
    font-weight: normal;
    letter-spacing: 10px;
}

h2 {
    font: 48px 'Staatliches', cursive;
    letter-spacing: 5px;
}

h3 {
    letter-spacing: 3px;
    font-size:16px;
    font-weight: normal;
    text-transform: uppercase;
}


.flex {
    display:flex;
    //flex-wrap: nowrap;
    align-items: center;
}

header, footer {
    width:100%;
    height:fit-content;
    position: relative;
    animation: fade 2s;

    img {
        position:relative;
        margin:15px;
        vertical-align: middle;
    }

    nav {
        width:100%;
        text-align: right;

        li {
            margin:15px;
            display: inline-block;
            letter-spacing: 3px;
            font-size:14px;
            text-transform: uppercase;
        }
    }
}

.dropdown-content {
    visibility: hidden;
    opacity:0%;
    position: absolute;
    background-color:lighten($pink, 10%);
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 0 15px 0 0;
    z-index: 1;
    text-align: left;
    font-size: 14px;

    a, a:visited {
        color:$black;
    }

    a:hover {
        color: $pink;
    }

    li {
        display: block;
    }
} 
.dropdown:hover {
    .dropdown-content {
        transition: opacity 0.25s;
        visibility: visible;
        opacity:100%;
    }
}

footer {
    nav ul {
        vertical-align: middle;
        margin-right:10px;

        li {
            margin:5px;
            vertical-align:middle;
            img {
                margin:0;
            }
        }
        a {
            width:30px;
            height:30px;
        }
    }
    hr {
        border: 1px solid darken($magenta, 10%);
        width:98%;
    }    
}

a, a:visited{
    text-decoration: none;
    color: white;
}

a:hover {
    color: $pink;
}

#current-page {
    color: $pink;
    font-weight: bold;
}

.btn {
    padding:10px;
    margin:10px;
    border: 2px solid white;
    border-radius: 20px;
    font: 18px "Staatliches", cursive;
    letter-spacing: 2px;
}

.btn:hover {
    border-color: $pink;
}

.banner {
    width:100%;
    height:400px;
    position:relative;
    overflow: hidden;
    animation: fade 0.5s;

    .banner-img {
        background-image: url("images/header.jpg");
        opacity:50%;
        width: -webkit-fill-available;
        height: -webkit-fill-available;
    }

    h1 {
        position:absolute;
        width:100%;
        text-align: center;
        top:50%;
        transform: translate(0,-50%);
        z-index: 1;
    }
}

.text {
    text-align: left;
    margin:100px;
}

.yellow {
    background-color: $yellow;
}

.blue {
    background-color: $blue;
}

.pink {
    background-color: $pink;
}

.hover:hover {
    box-shadow: 5px 10px darken($magenta,10%);
    transform: translate(0,-5px);
    transition: box-shadow 0.5s, transform 0.5s;
}

// ---------------------------------

// home:

.home-div {
    margin: 200px 0;
    text-align: center;
}

#welcome {
    animation: fade 1s;
    width:100%;
    height:100%;
    margin: 50px 0;
    position:relative;
    overflow: hidden;
    background-image: url("images/header.jpg");

    .container {
        position:relative;
    }
    
    .block {
        width:75%;
        margin: 20px 0px;
        padding:20px;
        text-align: center;

        h1, h3 {
            margin:0;
            padding:0;
        }        
    }

    .yellow, .pink {
        h1, h3 {
            visibility:hidden;
        }
    }

    .yellow {
        background-color: rgba(250, 229, 162, 0.75);
        position:relative;
        left:10%;
        transform: translate(-10%);
        animation: block1 2s;
    }
    
    .blue {
        background-color: rgba(128, 148, 221, 0.75);
        position:relative;
        left:50%;
        transform: translate(-50%);
        animation: block2 2.5s;
    }
    
    .pink {
        background-color: rgba(235, 163, 177, 0.75);
        position:relative;
        left:90%;
        transform: translate(-90%);
        animation: block3 3s;
    }
}

#statistic {
    position: relative;
    text-align: center;
    padding: 0 100px;
    background-color: transparent;
    box-shadow: none;
    color: white;
    width: -webkit-fill-available;
    height:fit-content;
    flex-wrap: wrap;
    justify-content: center;

    h1 {
        font-size: 15vw;
        margin:0;
        width:fit-content;
        height:fit-content;
    }
    
    div {
        height:fit-content;
        max-width:800px;
        margin:20px;
    }

    h3 {
        font-size: 24px;
    }

    .citation {
        font-size: 16px;
        text-align: right;
    }

}

#statistic-words {
    text-align: left;
    h3 {
        font-weight: bold;
    }
}

.stat {
    background-color: $white;
    color:$black;
    max-width: 250px;
    max-height: 250px;
    margin:20px;
    padding:50px;
    align-items: center;

}

#the-truth {
    padding:200px;
    background: linear-gradient(45deg, $blue, lighten($magenta, 10%));
    position: relative;
    h2 {
        text-align: center;
    }

    .stat {
        flex-wrap: wrap;
        justify-content: center;
    }

    #stat-container {
        text-align: center;
        justify-content: space-evenly;
        flex-wrap: wrap;

        h3 {
            font: 64px 'Staatliches', cursive;
            margin:5px;
        }

        .text {
            margin:0;
        }
    }
        
}

#why-care {
    padding:0px 200px;
    

    div {
        padding:50px;
    }

    img {
        width:70%;
    }
}

#what-can-you-do {
    margin-bottom: 200px;
}

#get-involved-btn {
    padding:10px;
    border: 10px solid white;
}

#get-involved-btn:hover {
    transition: background-color 0.5s;
    background-color: darken($blue, 5%);
    color: white;
}

// ---------------------------------

// about us:

#mission {

    background-color: $pink;

    #mission-text {
        padding:100px;
        width:40%;
        text-align: right;
        position: relative;
        color: $black;
    }

    #mission-img {
        width:60%;
        padding:100px;
    }

    img {
        width:100%;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    }

}

#goals {
    text-align: center;
}

#the-team {
    .exec {
        display:flex;
        flex-wrap:wrap;
        align-items: center;
        justify-content: center;
        text-align: left;
        background-color: rgba(256,256,256,0.08);
        margin-bottom: 20px;
        font-size: 14px;

        div {
            padding:50px;
            margin:20px;
        }

        #profile {
            padding:20px;
            text-align: center;
            width:200px;
            height:200px;
            vertical-align: middle;
            overflow:hidden;
            border-radius: 100%;

            img {
                position:relative;
                left:50%;
                top:50%;
                transform: translate(-50%,-50%);
                height:120%;
                width:auto;
            }
        }

        #exec-text {
            width:60%;
        }

        img {
            width:100%;
        }

        h3 {
            font-weight: bold;
            font-size: 24px;
        }

        h4 {
            color: $yellow;
        }
        
    }
}

// ---------------------------------

// our work:
#showcase {

    background-color: $pink;

    h1 {
        padding: 50px;
        font-size: 14vw;
        margin:0;
        width: fit-content;
        height:fit-content;
    }

    #showcase-text {
        align-self: flex-start;
        flex-wrap: wrap;
        padding:100px;
        width:95%;
        text-align: left;
        position: relative;  
        color: $black;
    }

    #showcase-img1 {
        
        width:45%;
        padding:0px;
        position: relative;
        margin-right:20px;
        
    }

    #showcase-img2 { 
        
        width:45%;
        padding:0px;
        position: relative;
        margin-left:20px;
        
    }

    #showcase-date {
        color: darken($pink, 5%);
        h1 {
            padding: 50px 100px;
        }
    }
    
    
    img {
        width:100%;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    }

}

// ---------------------------------

// get involved:

#donate-icons {
    background-color: rgba(160, 11, 75, 0.5);
    text-align: center;
    display:flex;
    justify-content: center;
    flex-wrap: wrap;

    img {
        width:250px;
        margin:20px;
    }

    .icon:hover {
        .description {
            transition: 0.25s opacity;
            visibility: visible;
            opacity:100%;
        }
    }

    .icon {
        display: flex;
        justify-content: center;
    }

    .description {
        visibility: hidden;
        opacity:0%;
        position:absolute;
        padding:50px;
        margin: 20px;

        border-radius: 100%;
        height:150px;
        width:150px;
        background-color: $black;

        h1 {
            font-size: 16px;
            letter-spacing: 1px;
        }

        p {
            font-size: 14px;
        }
        
    }
}


// ---------------------------------

// responsive:

@media screen and (max-width:600px) {

    body {
        overflow-x:hidden;
    }

    .home-div {
        margin: 50px 0;
        text-align: center;
    }

    #welcome {
        .yellow, .pink{
            background-color: rgba(0,0,0,0);
        }
        .blue {
            background-color: rgba(0,0,0,0.25);
        }
    }
    
    #why-care, #what-can-you-do, #statistic, #mission {
        padding:50px;
    }

    #statistic {
        width: -webkit-fill-available;
        height:fit-content;
        flex-wrap: wrap;
        justify-content: center;

        #statistic-num h1 {
            font-size: 72px;
        }
    }

    #the-truth {
        h2 {
            margin:0px;
        }
    }

    #why-care div {
        width:-webkit-fill-available;
        padding:0;
    }

    #get-involved-now, #insta {
        height:200px;
        margin-bottom: 200px;

        h1 {
            top:0%;
            transform:none;
        }

        #get-involved-btn {
            font-size: 24px;
            border-width: 5px;
        }
    }

    .text {
        margin:50px;
        h2 {
            font-size:40px;
        }
    }

    #mission {
        flex-wrap:wrap;
        
        #mission-text, #mission-img {
            padding:0;
            width:fit-content;
        }

    }

    #the-team {
        margin:20px;

        h2 {
            text-align: center;
        }
        
        #exec-text {
            padding:0;

            h3 {
                font-size: 20px;
            }
        }
    }

    #showcase {
        flex-wrap:wrap;
        padding:50px;
        
        #showcase-text, #showcase-img {
            padding:0;
        }

        #showcase-img1, #showcase-img2 {
            width:100%;
            margin:0;
        }
    }
    
}