@-webkit-keyframes block1 {
  from {
    left: -40%;
    opacity: 0%;
  }
  to {
    left: 10%;
    opacity: 100%;
  }
}

@keyframes block1 {
  from {
    left: -40%;
    opacity: 0%;
  }
  to {
    left: 10%;
    opacity: 100%;
  }
}

@-webkit-keyframes block2 {
  from {
    left: 0%;
    opacity: 0%;
  }
  to {
    left: 50%;
    opacity: 100%;
  }
}

@keyframes block2 {
  from {
    left: 0%;
    opacity: 0%;
  }
  to {
    left: 50%;
    opacity: 100%;
  }
}

@-webkit-keyframes block3 {
  from {
    left: 40%;
    opacity: 0%;
  }
  to {
    left: 90%;
    opacity: 100%;
  }
}

@keyframes block3 {
  from {
    left: 40%;
    opacity: 0%;
  }
  to {
    left: 90%;
    opacity: 100%;
  }
}

@-webkit-keyframes fade {
  from {
    opacity: 0%;
  }
  to {
    opacity: 100%;
  }
}

@keyframes fade {
  from {
    opacity: 0%;
  }
  to {
    opacity: 100%;
  }
}

@-webkit-keyframes slide {
  from {
    height: 0%;
  }
  to {
    height: -webkit-fit-content;
    height: fit-content;
  }
}

@keyframes slide {
  from {
    height: 0%;
  }
  to {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
}

@-webkit-keyframes left-next {
  0% {
    -webkit-transform: none;
            transform: none;
  }
  75% {
    -webkit-transform: rotateZ(28deg);
            transform: rotateZ(28deg);
    -webkit-transform-origin: 237.5% 375.75%;
            transform-origin: 237.5% 375.75%;
  }
  100% {
    -webkit-transform: rotateZ(28deg);
            transform: rotateZ(28deg);
    -webkit-transform-origin: 237.5% 375.75%;
            transform-origin: 237.5% 375.75%;
  }
}

@keyframes left-next {
  0% {
    -webkit-transform: none;
            transform: none;
  }
  75% {
    -webkit-transform: rotateZ(28deg);
            transform: rotateZ(28deg);
    -webkit-transform-origin: 237.5% 375.75%;
            transform-origin: 237.5% 375.75%;
  }
  100% {
    -webkit-transform: rotateZ(28deg);
            transform: rotateZ(28deg);
    -webkit-transform-origin: 237.5% 375.75%;
            transform-origin: 237.5% 375.75%;
  }
}

@-webkit-keyframes middle-next {
  0% {
    -webkit-transform: none;
            transform: none;
  }
  75% {
    -webkit-transform: rotateZ(32deg);
            transform: rotateZ(32deg);
    -webkit-transform-origin: 50% 380%;
            transform-origin: 50% 380%;
  }
  100% {
    -webkit-transform: rotateZ(32deg);
            transform: rotateZ(32deg);
    -webkit-transform-origin: 50% 380%;
            transform-origin: 50% 380%;
  }
}

@keyframes middle-next {
  0% {
    -webkit-transform: none;
            transform: none;
  }
  75% {
    -webkit-transform: rotateZ(32deg);
            transform: rotateZ(32deg);
    -webkit-transform-origin: 50% 380%;
            transform-origin: 50% 380%;
  }
  100% {
    -webkit-transform: rotateZ(32deg);
            transform: rotateZ(32deg);
    -webkit-transform-origin: 50% 380%;
            transform-origin: 50% 380%;
  }
}

@-webkit-keyframes right-next {
  0% {
    -webkit-transform: none;
            transform: none;
  }
  75% {
    -webkit-transform: rotateZ(42.5deg);
            transform: rotateZ(42.5deg);
    -webkit-transform-origin: -8.5% -75%;
            transform-origin: -8.5% -75%;
    width: 300px;
    height: 300px;
    opacity: 100%;
  }
  100% {
    -webkit-transform: rotateZ(42.5deg);
            transform: rotateZ(42.5deg);
    -webkit-transform-origin: -8.5% -75%;
            transform-origin: -8.5% -75%;
    width: 300px;
    height: 300px;
    opacity: 100%;
  }
}

@keyframes right-next {
  0% {
    -webkit-transform: none;
            transform: none;
  }
  75% {
    -webkit-transform: rotateZ(42.5deg);
            transform: rotateZ(42.5deg);
    -webkit-transform-origin: -8.5% -75%;
            transform-origin: -8.5% -75%;
    width: 300px;
    height: 300px;
    opacity: 100%;
  }
  100% {
    -webkit-transform: rotateZ(42.5deg);
            transform: rotateZ(42.5deg);
    -webkit-transform-origin: -8.5% -75%;
            transform-origin: -8.5% -75%;
    width: 300px;
    height: 300px;
    opacity: 100%;
  }
}

@-webkit-keyframes front-next {
  0% {
    -webkit-transform: none;
            transform: none;
    opacity: 100%;
  }
  75% {
    -webkit-transform: rotateZ(30deg);
            transform: rotateZ(30deg);
    -webkit-transform-origin: 152% -277%;
            transform-origin: 152% -277%;
    width: 200px;
    height: 200px;
    opacity: 50%;
  }
  100% {
    -webkit-transform: rotateZ(30deg);
            transform: rotateZ(30deg);
    -webkit-transform-origin: 152% -277%;
            transform-origin: 152% -277%;
    width: 200px;
    height: 200px;
    opacity: 50%;
  }
}

@keyframes front-next {
  0% {
    -webkit-transform: none;
            transform: none;
    opacity: 100%;
  }
  75% {
    -webkit-transform: rotateZ(30deg);
            transform: rotateZ(30deg);
    -webkit-transform-origin: 152% -277%;
            transform-origin: 152% -277%;
    width: 200px;
    height: 200px;
    opacity: 50%;
  }
  100% {
    -webkit-transform: rotateZ(30deg);
            transform: rotateZ(30deg);
    -webkit-transform-origin: 152% -277%;
            transform-origin: 152% -277%;
    width: 200px;
    height: 200px;
    opacity: 50%;
  }
}

@-webkit-keyframes hide {
  from {
    opacity: 100%;
  }
  to {
    opacity: 0%;
  }
}

@keyframes hide {
  from {
    opacity: 100%;
  }
  to {
    opacity: 0%;
  }
}

.left-next {
  -webkit-animation: left-next 1s linear;
          animation: left-next 1s linear;
}

.middle-next {
  -webkit-animation: middle-next 1s linear;
          animation: middle-next 1s linear;
}

.right-next {
  -webkit-animation: right-next 1s linear;
          animation: right-next 1s linear;
}

.front-next {
  -webkit-animation: front-next 1s linear;
          animation: front-next 1s linear;
}

.fade {
  -webkit-animation: fade 1s;
          animation: fade 1s;
}

body::-webkit-scrollbar {
  height: 0px;
  width: 8px;
}

body::-webkit-scrollbar-track {
  background: #6c0531;
}

body::-webkit-scrollbar-thumb {
  background-color: #9c0848;
  border: none;
}

::-moz-selection {
  background-color: #e2798d;
}

::selection {
  background-color: #e2798d;
}

body {
  font-family: 'Open Sans', sans-serif;
  color: white;
  background-color: #cd0a5e;
  margin: 0;
  overflow-x: hidden;
}

h1 {
  font: 72px 'Staatliches', cursive;
  font-weight: normal;
  letter-spacing: 10px;
}

h2 {
  font: 48px 'Staatliches', cursive;
  letter-spacing: 5px;
}

h3 {
  letter-spacing: 3px;
  font-size: 16px;
  font-weight: normal;
  text-transform: uppercase;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu {
  display: none;
}

header, footer {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  position: relative;
  -webkit-animation: fade 2s;
          animation: fade 2s;
}

header img, footer img {
  position: relative;
  margin: 15px;
  vertical-align: middle;
}

header nav, footer nav {
  width: 100%;
  text-align: right;
}

header nav li, footer nav li {
  margin: 15px;
  display: inline-block;
  letter-spacing: 3px;
  font-size: 14px;
  text-transform: uppercase;
}

header nav #exit, footer nav #exit {
  width: 20px;
  margin-top: 30px;
}

.dropdown-content {
  visibility: hidden;
  max-height: 0;
  -webkit-transition: max-height 0.5s ease-out;
  transition: max-height 0.5s ease-out;
  overflow: hidden;
  position: absolute;
  background: linear-gradient(45deg, #8094dd, #eba3b1);
  min-width: 200px;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 0 15px 0 0;
  z-index: 1;
  text-align: left;
  font-size: 14px;
}

.dropdown-content a, .dropdown-content a:visited {
  color: #363636;
}

.dropdown-content a:hover {
  color: white;
}

.dropdown-content li {
  display: block;
}

.dropdown:hover .dropdown-content {
  visibility: visible;
  max-height: 500px;
  -webkit-transition: max-height 0.5s ease-in;
  transition: max-height 0.5s ease-in;
}

footer nav ul {
  vertical-align: middle;
  margin-right: 10px;
}

footer nav ul li {
  margin: 5px;
  vertical-align: middle;
}

footer nav ul li img {
  margin: 0;
}

footer nav ul a {
  width: 30px;
  height: 30px;
}

footer hr {
  border: 1px solid #9c0848;
  width: 98%;
}

a, a:visited {
  text-decoration: none;
  color: white;
}

a:hover {
  color: #eba3b1;
}

#current-page {
  color: #eba3b1;
  font-weight: bold;
}

.btn {
  border: 2px solid white;
  border-radius: 20px;
  padding: 8px;
  margin: 8px;
  font-family: "Staatliches", cursive;
}

.btn:hover {
  border-color: #eba3b1;
}

.btn-grad {
  background-image: -webkit-gradient(linear, left top, right top, from(#eba3b1), color-stop(51%, #8094dd), to(#eba3b1));
  background-image: linear-gradient(to right, #eba3b1 0%, #8094dd 51%, #eba3b1 100%);
}

.btn-grad {
  margin-top: 10px;
  padding: 15px 45px;
  position: relative;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  text-align: center;
  text-transform: uppercase;
  font: 25px "Staatliches", cursive;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background-size: 200% auto;
  color: #cd0a5e;
  border-radius: 10px;
  display: block;
  border: none;
}

.btn-grad:hover {
  background-position: right center;
  /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

.banner {
  width: 100%;
  height: 400px;
  position: relative;
  overflow: hidden;
  -webkit-animation: fade 0.5s;
          animation: fade 0.5s;
}

.banner .banner-img {
  background-image: url("images/header.jpg");
  opacity: 30%;
  width: -webkit-fill-available;
  height: -webkit-fill-available;
}

.banner h1 {
  position: absolute;
  width: 100%;
  text-align: center;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  z-index: 1;
  margin: 0;
}

.text {
  text-align: left;
  margin: 100px;
}

.yellow {
  background-color: #fae5a2;
}

.blue {
  background-color: #8094dd;
}

.pink {
  background-color: #eba3b1;
}

.hover:hover {
  -webkit-box-shadow: 5px 10px #cd0a5e;
          box-shadow: 5px 10px #cd0a5e;
  -webkit-transform: translate(0, -15px);
          transform: translate(0, -15px);
  -webkit-transition: -webkit-box-shadow 0.5s, -webkit-transform 0.5s;
  transition: -webkit-box-shadow 0.5s, -webkit-transform 0.5s;
  transition: box-shadow 0.5s, transform 0.5s;
  transition: box-shadow 0.5s, transform 0.5s, -webkit-box-shadow 0.5s, -webkit-transform 0.5s;
}

.home-div {
  margin: 200px 0;
  text-align: center;
}

#welcome {
  -webkit-animation: fade 1s;
          animation: fade 1s;
  width: 100%;
  height: 100%;
  margin: 50px 0;
  position: relative;
  overflow: hidden;
  background-image: url("images/header.jpg");
}

#welcome .container {
  position: relative;
}

#welcome .block {
  width: 75%;
  margin: 20px 0px;
  padding: 20px;
  text-align: center;
}

#welcome .block h1, #welcome .block h3 {
  margin: 0;
  padding: 0;
}

#welcome .yellow h1, #welcome .yellow h3, #welcome .pink h1, #welcome .pink h3 {
  visibility: hidden;
}

#welcome .yellow {
  background-color: rgba(250, 229, 162, 0.75);
  position: relative;
  left: 10%;
  -webkit-transform: translate(-10%);
          transform: translate(-10%);
  -webkit-animation: block1 2s;
          animation: block1 2s;
}

#welcome .blue {
  background-color: rgba(128, 148, 221, 0.75);
  position: relative;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  -webkit-animation: block2 2.5s;
          animation: block2 2.5s;
}

#welcome .pink {
  background-color: rgba(235, 163, 177, 0.75);
  position: relative;
  left: 90%;
  -webkit-transform: translate(-90%);
          transform: translate(-90%);
  -webkit-animation: block3 3s;
          animation: block3 3s;
}

#statistic {
  position: relative;
  text-align: center;
  padding: 0 100px;
  background-color: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
  color: white;
  width: -webkit-fill-available;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#statistic h1 {
  font-size: 15vw;
  margin: 0;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

#statistic div {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  max-width: 800px;
  margin: 20px;
}

#statistic h3 {
  font-size: 24px;
}

#statistic .citation {
  font-size: 16px;
  text-align: right;
}

#statistic-words {
  text-align: left;
}

#statistic-words h3 {
  font-weight: bold;
}

.stat {
  background-color: #f3f3f3;
  color: #363636;
  max-width: 250px;
  max-height: 250px;
  margin: 20px;
  padding: 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#the-truth {
  padding: 200px;
  background: linear-gradient(45deg, #5872d2, #f41676);
  position: relative;
}

#the-truth h2 {
  text-align: center;
}

#the-truth .stat {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#the-truth #stat-container {
  text-align: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#the-truth #stat-container h3 {
  font: 64px 'Staatliches', cursive;
  margin: 5px;
}

#the-truth #stat-container .text {
  margin: 0;
}

#why-care {
  padding: 0px 200px;
}

#why-care div {
  padding: 50px;
}

#why-care img {
  width: 70%;
}

#what-can-you-do {
  margin-bottom: 200px;
}

#get-involved-btn {
  padding: 10px 20px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  color: #cd0a5e;
  font-size: 72px;
  border: none;
  border-radius: 0px;
}

#get-involved-btn:hover {
  color: white;
}

#mission {
  background-color: #eba3b1;
}

#mission #mission-text {
  padding: 100px;
  width: 40%;
  text-align: right;
  position: relative;
  color: #363636;
}

#mission #mission-img {
  width: 60%;
  padding: 100px;
}

#mission img {
  width: 100%;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

#goals {
  text-align: center;
}

#goals #wheel {
  margin-top: 100px;
  max-height: 400px;
}

#goals #wheel .goal {
  background-color: #f3f3f3;
  color: #363636;
  border-radius: 100%;
  margin: 50px;
}

#goals #wheel .background, #goals #wheel .foreground {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#goals #wheel .background .goal {
  width: 200px;
  height: 200px;
  opacity: 50%;
}

#goals #wheel .foreground {
  position: relative;
  left: 50%;
  top: 70%;
  -webkit-transform: translate(-50%, -70%);
          transform: translate(-50%, -70%);
}

#goals #wheel .foreground .goal {
  width: 300px;
  height: 300px;
}

#goals #wheel #middle {
  position: relative;
  top: -100px;
}

#mobile-goals {
  display: none;
}

#the-team .exec {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: left;
  background-color: rgba(255, 255, 255, 0.08);
  margin-bottom: 20px;
  font-size: 14px;
}

#the-team .exec div {
  padding: 50px;
  margin: 20px;
}

#the-team .exec #profile {
  padding: 20px;
  text-align: center;
  width: 200px;
  height: 200px;
  vertical-align: middle;
  overflow: hidden;
  border-radius: 100%;
}

#the-team .exec #profile img {
  position: relative;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  height: 120%;
  width: auto;
}

#the-team .exec #exec-text {
  width: 60%;
}

#the-team .exec img {
  width: 100%;
}

#the-team .exec h3 {
  font-weight: bold;
  font-size: 24px;
}

#the-team .exec h4 {
  color: #fae5a2;
}

#showcase {
  background-color: #eba3b1;
}

#showcase h1 {
  padding: 50px;
  font-size: 14vw;
  margin: 0;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

#showcase #showcase-text {
  -ms-flex-item-align: start;
      align-self: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 100px;
  width: 95%;
  text-align: left;
  position: relative;
  color: #363636;
}

#showcase #showcase-img1 {
  width: 45%;
  padding: 0px;
  position: relative;
  margin-right: 20px;
}

#showcase #showcase-img2 {
  width: 45%;
  padding: 0px;
  position: relative;
  margin-left: 20px;
}

#showcase #showcase-date {
  color: #e68e9f;
}

#showcase #showcase-date h1 {
  padding: 50px 100px;
}

#showcase img {
  width: 100%;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

#donate-icons {
  background-color: rgba(160, 11, 75, 0.5);
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#donate-icons img {
  width: 250px;
  margin: 20px;
}

#donate-icons .icon:hover .description {
  -webkit-transition: 0.25s opacity;
  transition: 0.25s opacity;
  visibility: visible;
  opacity: 100%;
}

#donate-icons .icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#donate-icons .description {
  visibility: hidden;
  opacity: 0%;
  position: absolute;
  padding: 50px;
  margin: 20px;
  border-radius: 100%;
  height: 150px;
  width: 150px;
  background-color: #363636;
}

#donate-icons .description h1 {
  font-size: 16px;
  letter-spacing: 1px;
}

#donate-icons .description p {
  font-size: 14px;
}

@media screen and (max-width: 1200px) {
  #goals #wheel .background .goal {
    width: 175px;
    height: 175px;
  }
  #goals #wheel .foreground .goal {
    width: 250px;
    height: 250px;
  }
  @-webkit-keyframes right-next {
    0% {
      -webkit-transform: none;
              transform: none;
    }
    75% {
      -webkit-transform: rotateZ(42.5deg);
              transform: rotateZ(42.5deg);
      -webkit-transform-origin: -8.5% -75%;
              transform-origin: -8.5% -75%;
      width: 250px;
      height: 250px;
      opacity: 100%;
    }
    100% {
      -webkit-transform: rotateZ(42.5deg);
              transform: rotateZ(42.5deg);
      -webkit-transform-origin: -8.5% -75%;
              transform-origin: -8.5% -75%;
      width: 250px;
      height: 250px;
      opacity: 100%;
    }
  }
  @keyframes right-next {
    0% {
      -webkit-transform: none;
              transform: none;
    }
    75% {
      -webkit-transform: rotateZ(42.5deg);
              transform: rotateZ(42.5deg);
      -webkit-transform-origin: -8.5% -75%;
              transform-origin: -8.5% -75%;
      width: 250px;
      height: 250px;
      opacity: 100%;
    }
    100% {
      -webkit-transform: rotateZ(42.5deg);
              transform: rotateZ(42.5deg);
      -webkit-transform-origin: -8.5% -75%;
              transform-origin: -8.5% -75%;
      width: 250px;
      height: 250px;
      opacity: 100%;
    }
  }
}

@media screen and (max-width: 1000px) {
  #goals {
    display: none;
  }
  #mobile-goals {
    display: block;
    text-align: center;
  }
  #mobile-goals .hide {
    -webkit-animation: hide 0.5s;
            animation: hide 0.5s;
    display: none;
  }
  #mobile-goals #mobile-wheel {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #mobile-goals #mobile-wheel .goal {
    background-color: #f3f3f3;
    color: #363636;
    border-radius: 100%;
    margin: 10px;
    width: 250px;
    height: 250px;
  }
  #mobile-goals #mobile-wheel #prev-mobile, #mobile-goals #mobile-wheel #next-mobile {
    font-size: 36px;
  }
}

.visible {
  display: block;
}

.hidden {
  display: none;
}

@media screen and (max-width: 600px) {
  body {
    overflow-x: hidden;
  }
  header nav {
    display: none;
  }
  header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .menu {
    display: block;
  }
  footer nav ul {
    -webkit-padding-start: 0;
            padding-inline-start: 0;
  }
  .home-div {
    margin: 50px 0;
    text-align: center;
  }
  #welcome {
    margin-top: 0;
  }
  #welcome .yellow, #welcome .pink {
    background-color: rgba(0, 0, 0, 0);
  }
  #welcome .blue {
    background-color: rgba(0, 0, 0, 0.25);
  }
  #why-care, #what-can-you-do, #statistic, #mission {
    padding: 50px;
  }
  #statistic {
    width: -webkit-fill-available;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #statistic #statistic-num h1 {
    font-size: 72px;
  }
  #the-truth {
    padding: 50px;
  }
  #the-truth h2 {
    margin: 0px;
  }
  #why-care div {
    width: -webkit-fill-available;
    padding: 0;
  }
  #what-can-you-do {
    margin: 0px;
  }
  #get-involved-now, #insta {
    height: 200px;
    margin-bottom: 200px;
  }
  #get-involved-now #get-involved-btn, #insta #get-involved-btn {
    font-size: 24px;
    border-width: 5px;
  }
  .text {
    margin: 50px;
  }
  .text h2 {
    font-size: 40px;
  }
  #mission {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  #mission #mission-text, #mission #mission-img {
    padding: 0;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  #the-team {
    margin: 20px;
  }
  #the-team h2 {
    text-align: center;
  }
  #the-team #exec-text {
    padding: 0;
  }
  #the-team #exec-text h3 {
    font-size: 20px;
  }
  #showcase {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 50px;
  }
  #showcase #showcase-text, #showcase #showcase-img {
    padding: 0;
  }
  #showcase #showcase-img1, #showcase #showcase-img2 {
    width: 100%;
    margin: 0;
  }
}
/*# sourceMappingURL=styles.css.map */