// colours:

$magenta: rgb(205, 10, 94);
$blue: rgb(128, 148, 221);
$yellow: rgb(250, 229, 162);
$pink: rgb(235, 163, 177);
$black: #363636;
$white: #f3f3f3;
$beige: #f0e6d8;

// ---------------------------------

// animations:

@keyframes block1 {
    from {left:-40%;opacity:0%} to {left:10%;opacity:100%;}
}

@keyframes block2 {
    from {left:0%;opacity:0%} to {left:50%;opacity:100%}
}

@keyframes block3 {
    from {left:40%;opacity:0%} to {left:90%;opacity:100%}
}

@keyframes fade {
    from {opacity:0%} to{opacity:100%}
}

.fade {
    animation: fade 1s;
}

// ---------------------------------

// scrollbar & highlight:

body::-webkit-scrollbar {
    height: 0px;
    width: 8px;
}
  
body::-webkit-scrollbar-track {
    background: darken($magenta,20%);
}

body::-webkit-scrollbar-thumb {
    background-color: darken($magenta,10%);
    //border-radius: 20px;
    border: none;
}

::selection {
    background-color:darken($pink, 10%);
}

// ---------------------------------

// general:

body {
    font-family: 'Open Sans', sans-serif;
    color:white;
    background-color: $magenta;
    margin:0;
    overflow-x: hidden;
}

h1 {
    font: 72px 'Staatliches', cursive;
    font-weight: normal;
    letter-spacing: 10px;
}

h2 {
    font: 48px 'Staatliches', cursive;
    letter-spacing: 5px;
}

h3 {
    letter-spacing: 3px;
    font-size:20px;
    font-weight: normal;
    text-transform: uppercase;
}

header, #stat-container {
    display:flex;
    flex-wrap: nowrap;
    align-items: center;
}

header, footer {
    width:100%;
    height:fit-content;
    position: relative;
    animation: fade 2s;

    img {
        position:relative;
        margin:15px;
        vertical-align: middle;
    }

    nav {
        width:100%;
        text-align: right;

        li {
            margin:15px;
            display: inline-block;
            letter-spacing: 3px;
            font-size:14px;
            text-transform: uppercase;
        }
    }
}

.dropdown-content {
    visibility: hidden;
    opacity:0%;
    position: absolute;
    background-color:lighten($pink, 10%);
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 0 15px 0 0;
    z-index: 1;
    text-align: left;
    font-size: 14px;

    a, a:visited {
        color:$black;
    }

    a:hover {
        color: $pink;
    }

    li {
        display: block;
    }
} 
.dropdown:hover {
    .dropdown-content {
        transition: opacity 0.4s;
        visibility: visible;
        opacity:100%;
    }
}

footer {
    nav ul {
        vertical-align: middle;
        margin-right:10px;

        li {
            margin:5px;
            vertical-align:middle;
            img {
                margin:0;
            }
        }
        a {
            width:30px;
            height:30px;
        }
    }
    hr {
        border: 1px solid darken($magenta, 10%);
        width:98%;
    }    
}

a, a:visited{
    text-decoration: none;
    color: white;
}

a:hover {
    color: $pink;
}

#current-page {
    color: $pink;
    font-weight: bold;
}

.banner {
    width:100%;
    height:400px;
    position:relative;
    overflow: hidden;

    .banner-img {
        background-image: url("images/header.jpg");
        opacity:50%;
        width: -webkit-fill-available;
        height: -webkit-fill-available;
    }

    h1 {
        position:absolute;
        width:100%;
        text-align: center;
        top:50%;
        transform: translate(0,-50%);
        z-index: 1;
    }
}

.text {
    text-align: left;
    margin:100px;
}

.yellow {
    background-color: $yellow;
}

.blue {
    background-color: $blue;
}

.pink {
    background-color: $pink;
}

// ---------------------------------

// home:

.home-div {
    margin: 200px 0;
    text-align: center;
}

#welcome {
    width:100%;
    height:600px;
    position:relative;
    overflow: hidden;
    background-image: url("images/header.jpg");

    .container {
        position:relative;
        top:50%;
        transform: translate(0,-50%);
    }
    
    .block {
        width:75%;
        height:110px;
        margin: 20px 0px;
        padding:20px;
        text-align: center;

        h1, h3 {
            margin:0;
            padding:0;
        }
        
    }

    .yellow {
        background-color: rgba(250, 229, 162, 0.75);
        position:relative;
        left:10%;
        transform: translate(-10%);
        animation: block1 2s;
    }
    
    .blue {
        background-color: rgba(128, 148, 221, 0.75);
        position:relative;
        left:50%;
        transform: translate(-50%);
        animation: block2 2.5s;
    }
    
    .pink {
        background-color: rgba(235, 163, 177, 0.75);
        position:relative;
        left:90%;
        transform: translate(-90%);
        animation: block3 3s;
    }
}

#statistic {
    position: relative;
    width:-webkit-fill-available;
    height:500px;
    text-align: center;
    padding: 0 100px;
    margin: 200px 0;
    background-color: transparent;
    box-shadow: none;
    color: white;
    grid-gap: 50px 10px;
    grid-template-rows: 30% 60%;

    h1 {
        font-size: 200px;
    }
    
    div {
        height:fit-content;
    }

    .citation {
        font-size: 20px;
        text-align: right;
    }

}

#statistic-words {
    text-align: left;
    h3 {
        font-weight: bold;
    }
}

.stat {
    background-color: $white;
    color:$black;
    width: 250px;
    height: 250px;
    margin:20px;
    padding:50px;
    display:grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: 50% 50%;
    grid-gap: 20px;
    align-items: center;

}

.hover:hover {
    box-shadow: 5px 10px darken($magenta,10%);
    transform: translate(0,-5px);
    transition: box-shadow 0.5s, transform 0.5s;
}

.stat-img {
    grid-area: 1 / 1 / span 1 / span 2;
    width:inherit;
}

#the-truth {
    position: relative;
    h2 {
        text-align: center;
        margin:100px;
    }

    #stat-container {
        text-align: center;
        justify-content: space-evenly;

        h3 {
            font: 64px 'Staatliches', cursive;
            margin:0;
        }

        p {
            text-align: left;
        }
    }
        
}

#why-care {
    padding:100px 200px;
    background: linear-gradient(45deg, $blue, lighten($magenta, 10%));

    div {
        padding:50px;
    }

    img {
        width:70%;
    }
}

#what-can-you-do {
    margin: 0;
}

#get-involved-btn {
    padding:10px;
    border: 10px solid white;
}

#get-involved-btn:hover {
    transition: background-color 0.5s;
    background-color: darken($blue, 5%);
    color: white;
}

#insta {
    margin-bottom:0;
}

#insta-feed {
    display:flex;
    justify-content: center;
}

// ---------------------------------

// about us:

#mission {

    background-color: $pink;
    display: flex;
    align-items: center;

    #mission-text {
        padding:100px;
        width:40%;
        text-align: right;
        position: relative;
        color: $black;
    }

    #mission-img {
        width:60%;
        padding:100px;
    }

    img {
        width:100%;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    }

}

#goals {
    text-align: center;
    margin:100px;
}

#the-team {
    .exec {
        display:grid;
        grid-template-columns: 20% 80%;
        align-items: center;
        text-align: left;
        background-color: rgba(256,256,256,0.08);
        margin-bottom: 20px;
        font-size: 14px;

        div {
            padding:50px;
        }

        #profile {
            text-align: center;
            padding-right: 0;

            div {
                overflow: hidden;
                max-width:200px;
                max-height:200px;
                border-radius: 100%;
                padding:0;
                margin:0;
            }
        }

        img {
            width:100%;
        }

        h3 {
            font-weight: bold;
            font-size: 24px;
        }

        h4 {
            color: $yellow;
        }
        
    }
}

// ---------------------------------

// our work:


// ---------------------------------

// get involved:

#donate-icons {
    background-color: rgba(160, 11, 75, 0.5);
    text-align: center;

    img {
        width:250px;
        margin:20px;
    }
}